.shinchan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/shinchan.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.doraemon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/doraemon.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.ninjahattori {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/ninja-hattori.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.birikencompany {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/biriken-company.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.chimpui {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/chimpui.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.mojocko {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/mojocko.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.mami {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/mami-the-psychic.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.kochikame {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/kochikame.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.kiteretsu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/kiteretsu.jpg);
  min-height: 301px;
  margin-bottom: 30px;
}
.ultrab {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main/ultra-b.png);
  min-height: 301px;
  margin-bottom: 30px;
}

.shinchan, .doraemon, .ninjahattori, .birikencompany, .chimpui, .mojocko, .mami, .kochikame, .kiteretsu, .ultrab {
  background-size: cover;
  position: relative;
}   

.shinchan:hover .overlay-effect,
.doraemon:hover .overlay-effect,
.ninjahattori:hover .overlay-effect,
.birikencompany:hover .overlay-effect,
.chimpui:hover .overlay-effect,
.mojocko:hover .overlay-effect,
.mami:hover .overlay-effect,
.kochikame:hover .overlay-effect,
.kiteretsu:hover .overlay-effect,
.ultrab:hover .overlay-effect {
  opacity: 1;
  cursor: pointer;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(259, 67, 95, 0.7);
  overflow:hidden;
}

.shinchan a,
.doraemon a,
.ninjahattori a,
.birikencompany a,
.chimpui a,
.mojocko a,
.mami a,
.kochikame a,
.kiteretsu a,
.ultrab a {
  color: #fff;
}

.shinchan h3,
.doraemon h3,
.ninjahattori h3,
.birikencompany h3,
.chimpui h3,
.mojocko h3,
.mami h3,
.kochikame h3,
.kiteretsu h3,
.ultrab h3 {
  padding: 15px 30px;
}

@media screen and (max-width: 768px) {
 .shinchan, .doraemon, .ninjahattori, .birikencompany, .chimpui, .mojocko, .mami, .kochikame, .kiteretsu, .ultrab {margin-bottom: 10px;}
}
