@import url('progress.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@font-face {
  font-family: NectoMono;
  src: url(NectoMono-Regular.woff2);
}
body {
  font-family: NectoMono;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.dropdown-item, .form-control, .btn {
  font-size: 14px;
}
.navbar-toggler {
border-color: white!important;
height: 1.8rem;
padding-top: 0.3rem;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.navbar-toggler .bi {
color: white!important;
}