@import url('progress.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@font-face {
  font-family: NectoMono;
  src: url(NectoMono-Regular.woff2);
}
body {
  font-family: NectoMono;
  font-size: 14px;
}
.navbar-toggler {
border-color: white!important;
}
.navbar-toggler .bi {
color: white!important;
}
a {
  text-decoration: none;
}
.dropdown-item, .form-control, .btn {
  font-size: 14px;
}
.list-group-item {
  color: #0d6efd;
}
.list-group-item:hover {
  background-color: #e8e8e8;
}
.card {
  background-color: #e1f8dc;
  background: #e1f8dc;
  flex-basis: 32%;
  box-sizing: border-box;
  padding: 5px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}
.hero {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 20px;
}
.hero .text-content {
  color: white;
  text-align: left;
  max-width: 600px;
  margin: 0; /* Centering removed to left-align */
  padding-left: 20px; /* Add padding for left alignment */
}
.hero h1 {
  font-size: 5rem;
  margin: 0;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.hero p {
  font-size: 2rem;
  margin: 10px 0 0;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.25rem;
  }
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
@media screen and (max-width: 600px) {
  .row {
   display: block;
   width: 100%;
   margin: 0px;
  }
  .card {
   margin-bottom: 10px;
  }
}
/* Footer */
.tiny-footer {background-color: #f8f9fa;}
.tiny-padding {padding-top: 1.5rem;padding-bottom: 1.5rem;}
.tiny-container {width: 100%;max-width: 1140px;margin-left: auto;margin-right: auto;}
.tiny-row {display: flex;flex-wrap: wrap;}
.tiny-col {flex: 1;}
.tiny-link {color: #272727!important;text-decoration: none;}
.tiny-link:hover {text-decoration: underline;}
.tiny-muted {color: #6c757d;}