@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@font-face {
  font-family: NectoMono;
  src: url(NectoMono-Regular.woff2);
}
body {
  font-family: NectoMono;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.dropdown-item {
  font-size: 14px;
}
.list-group-item {
  color: #0d6efd;
}
.list-group-item:hover {
  background-color: #e8e8e8;
}
.card {
  background-color: #e1f8dc;
  flex-basis: 32%;
  box-sizing: border-box;
  padding: 5px;
  background: #e1f8dc;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
@media screen and (max-width: 600px) {
  .row {
    display: block;
    width: 100%;
    margin: 0px;
  }
  .card {
    margin-bottom: 10px;
  }
}